/* @media all and (min-width: 480px) {
    .Register {
      padding: 0px 0;
    }
  
    .Register form {
      margin: 0 auto;
      max-width: 320px;
    }
  } */
  .Register_back{
    background-color: rgb(69, 69, 72);
  }